/* styles.css */
body {
    width:80%;
    margin-left:auto;
    margin-right:auto;
    position: relative; /* Set body position to relative */
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    font-size:1.6rem;
}

html {
    font-size: 62.5%;
}

img {
    width: 100%;
    height: auto;
}

header {
    margin-top: 4.1rem; /* Set top margin */
    display: flex; /* Using flexbox to layout header content */
    justify-content: space-between; /* Aligning items to the start and end of the header */
    align-items: center;
}
header span {
    font-family: 'Museomoderno'; /* Apply MuseoModerno font */
    font-size: 3.2rem;
    font-weight: bold; /* Make the font bold */
}
header a {

    width: 5rem; /* Set desired width */
    height: 5rem; /* Set desired height */
    
}
header a img{
    width:50%;
    height:50%;
}


footer {
    color: #202020;
    padding: 2rem 2rem 11.1rem 2rem; /* Adjusting the padding */
    text-align: center;
    bottom: 3.09rem; /* Adjusting the bottom gap */
    font-weight: 600; /* Semibold */
    font-size: 2.5rem;
    border-top: 0.1rem solid #A0A0A0; /* Adjusting the border thickness */
    box-sizing: border-box; /* Ensure border doesn't increase element size */
}

#intro-text {
    font-size: 4.9rem; /* Set font size */
    font-weight: 600; /* Set font weight to semibold */
    margin-top: 26.1rem; /* Set top margin */
    text-align: center; /* Center-align the text */
    margin-right: auto;
    margin-left: auto;
    width:80%;
}

.container3 {
    display:flex;
}

.text-container {
    width: 100%;
    height: 13rem; /* Adjust the height of the container */
    overflow: hidden;
    white-space: nowrap;
    display:flex;
    margin-left:auto margin-right auto;
    margin-top:13rem;
}

.text {
    display: inline-block;
    font-size:13rem;
    margin-right:4rem;
    animation: marquee 20s linear infinite;
}

@keyframes marquee {
    0% { transform: translateX(50%); }
    100% { transform: translateX(-50%); }
}


.hide {
    display: none !important;
}

.active span{
    /* Add your highlighting styles here */
    font-weight: bold;
    color: #34c1ca !important; /* Change color to your desired color */
}

#hf-scope {
    text-decoration: underline; /* Add underline */
    color: #34C1CA; /* Set text color for HF and SCOPE */
}

.container {
    margin-top:4rem;
}

#activities-container {
    margin-bottom: 8.9rem;
    margin-top: 30rem;
    margin-right:auto;
    margin-left:auto;
}

#activities-container h2 {
    font-size: 2.4rem;
    font-weight: bold;
}


.skinroutine-container {
    margin-top:20rem;
    font-size:1.6rem;
    margin-bottom:20rem;
}

.skinroutine-container h2 {
    font-size:4rem;
    font-weight:600;
}

.skinroutine-container h3 {
    font-size:2.5rem;
    font-weight:500;

}
.skinroutine-container h4 {
    font-size:1.9rem;
    font-weight:500;

}

.skinroutine-container h5 {
    font-size:1.5rem;
    font-weight:400;

}

.skinroutine-div {
    display:flex;
}

.activity-container {
    margin-top:3rem;
    display:flex;
}

#skill-tag{
    border: 2px solid #000;
    background-color: #EEE;
    padding:5px;
}

.duration {
    font-size: 2rem;
    width:40%;
    font-weight: medium;
}

.activity-content {

    width:60%;
    font-weight: 400;
    font-size: 2rem;
}

.description {
    margin-top: 0.5rem;
}

#languages h2 {
    margin-top: 15.625rem;
    font-size: 2.4rem;
    font-weight: bold;
}

.skills-container {
    display:flex;
    width:100%;
    flex-direction:row;
}

.skills-container div{
    width:50%;
    font-weight:400;
}

.skills-container h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .skills-container h3 {
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 1rem;
  }

  .skill-list {
    width:50%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex:wrap;
    font-size:2rem;
    
  }

  .skill-list li {
    display: inline-block;
    border: 0.1rem solid #000;
    background-color: #EEE;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  ul.a {
    list-style-type: circle;
    
  }
  ul.a li {
    margin-bottom:1rem;
  }

  

  

  
  /* Input styles */
  .form-group input,
  .form-group textarea 
{
    width: 100%; /* Make inputs take up full width */
    padding: 1rem; /* Add some padding for better appearance */
    border: 0.1rem solid #ccc; /* Add a border */
    border-radius: 5px; /* Add border radius */
    box-sizing:border-box;
  }
  
  /* Placeholder styles */
  .form-group input::placeholder,
  .form-group textarea::placeholder {
    color: #999; /* Placeholder text color */
    box-sizing:border-box;
  }
  /* Button styles */
  button[type="submit"] {
    width: 100%; /* Make button take up full width */
    padding: 1rem; /* Add some padding */
    border: none; /* Remove border */
    border-radius: 2rem; /* Add border radius */
    background-color: #34C1CA; /* Set background color */
    color: #fff; /* Set text color */
    cursor: pointer; /* Add cursor pointer on hover */
  }
  
  button[type="submit"]:hover {
    background-color: #258e98; /* Darken background color on hover */
  }

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .activity-container {
        margin-right:auto;
        margin-left:auto;
        width:100%;
        /* Your mobile-specific CSS rules here */
        flex-direction: column; /* Example: Change flex direction to column */
    }
    .duration {
        width:100%;
    }
    .activity-content{
        width:100%;
    }
    html{
        font-size:60%;
    }
    
    .skills-container{
        flex-direction:column;
        width:100%;
    }
    .skill-list{
        width:100%;
    }
    .container3{
        flex-direction:column;
    }
  }